main {
    margin: 110px 0;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 110px;
    flex-direction: column;
}

.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}