.points {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: var(--primary-color-800);
    border-radius: 9px;
}

.listTytle {
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-weight: bold;
    color: var(--neutral-color-white);
    letter-spacing: 2%;
    background: none;
    padding: 0;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    gap: 5px;
    font-family: var(--primary-font-family);
    font-size: 15px;
    color: var(--neutral-color-white);
}