.widget {
    width: 1116px;
    background: var(--primary-color-800);
    border-radius: 17px;
    gap: 60px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 6px 6px 13px rgba(5, 5, 5, 25%), -6px -6px 13px rgba(5, 5, 5, 25%);
}

.start {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.title {
    width: 500px;
    font-size: 24px;
    font-family: var(--secondary-font-family);
    color: var(--neutral-color-white);
}

input,
p,
textarea {
    padding: 10px;
    background: var(--primary-color-700);
    color: var(--neutral-color-white);
    border: none;
    border-radius: 7px;
    margin-block: 0;
}

input::placeholder {
    color: rgba(255, 252, 251, 50%);
}

textarea::placeholder {
    color: rgba(255, 252, 251, 50%);
}

input,
textarea:focus {
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 30px;
}

.description {
    font-family: var(--secondary-font-family);
    font-size: 19px;
    width: 1097px;
    height: 170px;
}

.save {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: bold;
    background: var(--primary-color-500);
    color: var(--neutral-color-white);
    width: 330px;
    padding: 20px 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: .1s;
}

.save:hover {
    scale: 1.1;
    background: var(--primary-color-600);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
}

.items {
    margin-block: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
}

.item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.listTitle {
    font-size: 19px;
    width: 521px;
}

.inputItem {
    font-size: 16px;
}

.level {
    width: 521px;
    font-size: 19px;
}