@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=PT+Sans+Caption:wght@400;700&family=Pacifico&display=swap');

:root {
    --primary-font-family: Commissioner, sans-serif;
    --secondary-font-family: "PT Sans Caption", sans-serif;
    --title-font-family: Pacifico, sans-serif;

    --primary-color-100: #E4F3FB;
    --primary-color-200: #B8DEF4;
    --primary-color-300: #8CCAEE;
    --primary-color-400: #60B6E7;
    --primary-color-500: #33A1E0;
    --primary-color-600: #1E87C3;
    --primary-color-700: #176897;
    --primary-color-800: #10496A;
    --primary-color-900: #092B3E;

    --neutral-color-white: #FFFCFB;
    --neutral-color-black: #050505;
}