.header {
    display: flex;
    align-items: center;
    padding: 13px 21px;
    justify-content: center;
    gap: 20px;
    background: var(--primary-color-500);
    width: fit-content;
    border-radius: 8px;
    box-shadow: -7px 7px 15px rgba(0, 0, 2, 20%);
    margin: 60px;
}

.title {
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--neutral-color-white);
}